@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
}

/* font-family: 'Roboto Slab', serif; второй шрифт*/

.how-to-watch {
	font-size: 20px;
	font-weight: 400;
	width: 100%;
}
.conteiner-watch {
	max-width: 1222px;
	margin: auto;
	padding: 21px 15px;
}
.syncing {
	max-width: 112px;
	margin-bottom: 95px;
}
.watch-header {
	max-width: 509px;
	display: flex;
	margin-bottom: 19px;
}
.watch-item {
	display: flex;
	margin: auto;
}

.item-online {
	line-height: 23px;
}
.item-online-image {
	max-height: 21px;
	max-width: 22px;
	margin: 17px 8px 0 -27px;
}

.item-time-image {
	max-height: 22px;
	max-width: 22px;
	margin: 16px 9px 0px -17px;
}

.item-date-image {
	max-width: 20px;
	max-height: 22px;
	margin: 17px 13px 0px -9px;
}

.watch-main {
	display: flex;
	justify-content: space-between;
	margin-bottom: 54px;
}
.main-conteiner {
	max-width: 628px;
}
.main-heading {
	font-family: "Roboto Slab", serif;
	font-size: 80px;
	line-height: 81px;
	margin: 0 0 0 0;
}
.main-text {
	font-size: 20px;
	max-width: 414px;
	line-height: 30px;
}

.main-producer {
	max-width: 305px;
	margin: -7px 0px 0px 4px;
}

.watch-text-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.watch-text {
	box-sizing: border-box;
	margin: 0px 162px 0px 0px;
	padding: 19px 19px 19px 25px;
	max-width: 483.63px;
	background: #1e4681;
	border-radius: 5px;
}
.text {
	font-family: "Roboto Slab", serif;
	padding: 0px 20px 6px 0px;
	font-size: 25px;
	line-height: 32px;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
}

.text-autor {
	font-family: Roboto;
	line-height: 26px;
	text-align: right;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
}

.about {
	width: 100%;
	padding-bottom: 40px;
}

.about-wrapper {
	margin: auto;
	max-width: 1222px;
}

.header-text {
	font-family: "Roboto Slab", serif;
	font-size: 55px;
	font-weight: bold;
}

.about-main {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
}
.about-main-text {
	font-size: 24px;
	max-width: 662px;
	line-height: 36px;
}

.about-main-text p:first-child {
	margin-bottom: 36px;
}

.about-operator {
	margin: 73px -51px 0px 0px;
}

.about-footer {
	max-width: 1002px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text-head {
	font-size: 25px;
	font-weight: 700;
	line-height: 32.5px;
	margin: 0;
}

.text-description {
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	margin: 10px 0 0 0;
}
.about-director {
	max-width: 232px;
}
.about-blocks {
	max-width: 638px;
	display: flex;
	padding-top: 8px;
	padding-right: 30px;
}
.about-first-block {
	margin-right: 106px;
}
.about-second-block {
	margin-right: 98px;
}

@media (min-width: 992px) and (max-width: 1279px) {
	.how-to-watch {
		margin-bottom: 73px;
		font-size: 12px;
	}
	.conteiner-watch {
		max-width: 675px;
		padding: 20px 20px;
	}
	.syncing {
		max-width: 65px;
		margin-bottom: 42px;
	}
	.watch-header {
		max-width: 295px;
		justify-content: space-between;
		margin-bottom: 0px;
	}
	.watch-item {
		margin: 0;
		align-items: center;
		/* margin: auto; */
		padding: 0px 14px 0px 0px;
	}

	.item-online {
		line-height: 14px;
	}
	.item-online-image {
		max-width: 12px;
		margin: 0px 5px 5px 1px;
	}

	.item-time-image {
		max-width: 12px;
		margin: 0px 0px 6px 0px;
		padding: 0px 6px 0px 0px;
	}

	.item-date-image {
		max-width: 11px;
		margin: 0px 9px 5px 0px;
	}

	.watch-main {
		max-width: 628px;
		margin-bottom: 40px;
	}
	.main-conteiner {
		max-width: 364px;
	}
	.main-heading {
		font-size: 46px;
		line-height: 47px;
	}
	.main-text {
		max-width: 254px;
		font-size: 12px;
		line-height: 18px;
		padding: 7px 0px 0px 1px;
	}

	.main-producer {
		max-width: 176px;
		margin: -5px 7px 0px 0px;
	}

	.watch-text {
		margin: 0px 60px 0px 0px;
		padding: 12px 8px 15px 15px;
		max-width: 280px;
	}
	.text {
		padding: 0px 20px 2px 0px;
		font-size: 14px;
		line-height: 18px;
	}

	.text-autor {
		line-height: 15px;
	}

	.about-wrapper {
		max-width: 675px;
	}

	.header-text {
		margin-bottom: 15px;
		font-size: 32px;
	}

	.about-main {
		margin-bottom: 28px;
	}
	.about-main-text {
		font-size: 14px;
		max-width: 383px;
		line-height: 21px;
	}

	.about-main-text p:first-child {
		margin-bottom: 20px;
	}

	.about-operator {
		max-width: 212px;
		margin: -5px -15px 0px 0px;
	}

	.about-footer {
		max-width: 580px;
	}

	.text-head {
		font-size: 15px;
		line-height: 19px;
	}

	.text-description {
		font-size: 11px;
		line-height: 14px;
		margin: 6px 0 0 0;
	}
	.about-director {
		max-width: 134px;
	}
	.about-blocks {
		max-width: 370px;
		padding-right: 12px;
	}
	.about-first-block {
		margin-right: 67px;
	}
	.about-second-block {
		margin-right: 48px;
	}
}

@media screen and (min-width: 320px) and (max-width: 991px) /*smartphone*/ {
	.how-to-watch {
		font-size: 12px;
	}
	.conteiner-watch {
		max-width: 308px;
		padding: 21px 15px;
	}
	.syncing {
		max-width: 52px;
		margin-bottom: 25px;
	}
	.watch-header {
		max-width: 237px;
		margin-bottom: -4px;
	}
	.watch-item {
		font-size: 10px;
		line-height: 11px;
		align-items: center;
		margin: 0px 14px 0px 0px;
	}

	.item-online {
		line-height: 23px;
	}
	.item-online-image {
		max-height: 10px;
		max-width: 10px;
		margin: 0px 4px 0px 0px;
	}

	.item-time-image {
		max-height: 10px;
		max-width: 10px;
		margin: 0px 5px 0px 0px;
	}

	.item-date-image {
		max-width: 10px;
		max-height: 10px;
		margin: 0px 6px 0px 0px;
	}

	.watch-main {
		display: block;
		margin-bottom: 37px;
	}
	.main-conteiner {
		max-width: 307px;
	}
	.main-heading {
		font-size: 37px;
		line-height: 37px;
		margin-bottom: 17px;
	}
	.main-text {
		font-size: 10px;
		max-width: 212px;
		line-height: 15px;
		margin-bottom: 0;
	}

	.main-producer {
		max-width: 141px;
		margin: 0px;
		margin-left: calc(100% - 141px);
	}

	.watch-text-wrapper {
		max-width: 225px;
		margin: 0px 0px 28px 3px;
	}
	.watch-text {
		margin: 0px;
		padding: 9px 8px 0px 12px;
		border-radius: 2px;
	}
	.text {
		padding: 0px 0px 17px 0px;
		font-size: 11px;
		line-height: 14px;
		margin: 0px;
	}

	.text-autor {
		font-size: 10px;
		line-height: 13px;
		padding-bottom: 12px;
	}

	.about {
		width: 100%;
		padding-bottom: 0px;
	}

	.about-wrapper {
		margin: auto;
		max-width: 307px;
	}

	.header-text {
		font-size: 26px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.about-main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 0px;
	}
	.about-main-text {
		font-size: 12px;
		max-width: 308px;
		line-height: 18px;
	}

	.about-main-text p:first-child {
		margin-bottom: 18px;
	}

	.about-operator {
		max-width: 170px;
		margin: 0px;
		padding: 2px 6px 46px 0px;
	}

	.about-footer {
		max-width: 308px;
	}

	.text-head {
		font-size: 12px;
		line-height: 16px;
		margin: 0;
	}

	.text-description {
		max-width: 85px;
		font-size: 10px;
		line-height: 13px;
		text-align: left;
		margin: 3px 0px 26px 0px;
	}
	.about-director {
		display: none;
	}
	.about-blocks {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding-top: 0px;
		padding-right: 0px;
	}
	.about-first-block {
		margin-right: 34px;
	}
	.about-second-block {
		margin-right: 20px;
	}
}
.format-wrapper {
	max-width: 1221px;
	margin: auto;
}
.format {
	margin-top: 100px;
	display: inline-block;
	width: 100%;
}
.format-div {
	max-width: 1221px;
	display: flex;
}
.format h2 {
	font-family: "Roboto Slab", serif;
	font-size: 32px;
	font-weight: 700;
	padding-left: 70px;
}
.format h3 {
	color: #1e4681;
	margin-bottom: -8px;
	font-size: 25px;
	line-height: 130%;
	font-weight: 700;
}
.web {
	width: 239px;
	padding-left: 70px;
	font-family: "Roboto", sans-serif;
}
.access {
	width: 270px;
	height: 86px;
	padding-left: 46px;
	font-family: "Roboto", sans-serif;
}
.communication {
	display: inline-block;
	width: 229px;
	height: 26px;
	padding-left: 76px;
	padding-top: -80px;
	font-family: "Roboto", sans-serif;
}
.knowledge-block {
	margin-top: 150px;
	font-family: "Roboto Slab", serif;
	width: 688px;
	height: 488px;
}
.knowledge {
	font-size: 32px;
	font-weight: 700;
	padding-left: 70px;
}
.format .info {
	display: block;
	width: 355px;
	height: 221px;
	padding-left: 70px;
	font-size: 14px;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	line-height: 150%;
}
.program {
	max-width: 1271px;
	margin: auto;
}
.program h1 {
	font-family: "Roboto Slab", serif;
	font-size: 55px;
	margin-left: 37px;
	margin-bottom: 83px;
}
.program-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-left: -37px;
	padding-bottom: 121px;
}
.program-item {
	width: 399px;
	height: 328px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	margin-left: 37px;
	margin-top: 41px;
	position: relative;
}

.program h3 {
	margin: 12px 0 30px;
	padding: 0 14px 0 20px;
	font-size: 30px;
	line-height: 1em;
}
.program-text {
	padding: 0 14px 0 19px;
	font-size: 25px;
	position: absolute;
	bottom: 20px;
	line-height: 1.3em;
}

@media (max-width: 991px) {
	/*smartphone*/
	.program {
		max-width: 185.92px;
		margin: auto;
	}
	.program h1 {
		font-family: "Roboto Slab", serif;
		font-size: 26px;
		margin-left: -60px;
		margin-right: -20px;
		margin-bottom: 49px;
	}
	.program-wrapper {
		display: block;
		margin-left: 0;
		padding-bottom: 47px;
	}
	.program h3 {
		margin: 4px 0 19px;
		padding: 0 7px 0 9px;
		font-size: 14px;
		line-height: 1em;
	}
	.program-text {
		padding: 0 7px 0 9px;
		font-size: 12px;
		position: absolute;
		bottom: 7px;
		line-height: 1.3em;
	}
}

@media (min-width: 992px) and (max-width: 1279px) {
	/*tablet*/
	.program {
		max-width: 736px;
		margin: auto;
	}
	.program h1 {
		font-family: "Roboto Slab", serif;
		font-size: 32px;
		margin-left: 21px;
		margin-bottom: 51px;
	}
	.program-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-left: -21px;
		padding-bottom: 53px;
	}
	.program img {
		width: 231.09px;
		height: 92.67px;
	}
	.program-item {
		width: 231.09px;
		height: 189.97px;
		box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
		border-radius: 17.375px;
		margin-left: 21px;
		margin-top: 23px;
		position: relative;
	}

	.program h3 {
		margin: 5px 0 24px;
		padding: 0 8px 0 11px;
		font-size: 17px;
		line-height: 1em;
	}
	.program-text {
		padding: 0 8px 0 11px;
		font-size: 14px;
		position: absolute;
		bottom: 13px;
	}
}
.reviews {
	background-color: #efefef;
	width: 100%;
}
.reviews-wrapper-block {
	max-width: 1192px;
	margin: auto;
	align-content: center;
	padding-bottom: 95px;
}
.main-text-paragraph {
	padding-top: 45px;
}
.course-block {
	font-size: 55px;
	font-family: Roboto Slab;
	font-weight: bold;
	line-height: 56px;
	color: black;
}
.additional-wrapper-block {
	max-width: 791px;
	padding-bottom: 30px;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	border-radius: 30px;
	margin-top: 70px;
}
.additional-text-block {
	font-family: Roboto;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	text-align: left;
	padding: 41px 37px 0 49px;
}
.participant-block {
	display: flex;
	align-items: center;
}
.name-block {
	display: flex;
	flex-direction: column;
	padding: 0 0 20px 28px;
}
.facebook-icon {
	width: 32px;
	height: 31px;
}
.name {
	font-family: Roboto Slab;
	color: #000000;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	width: auto;
}
.picture-block {
	padding: 14px 0 0 31px;
}

@media screen and (min-width: 992px) and (max-width: 1279px) /*tablet*/ {
	.reviews-wrapper-block {
		max-width: 689px;
		padding-bottom: 65px;
	}
	.additional-wrapper-block {
		max-width: 466px;
		padding-bottom: 2px;
		margin-top: 46px;
		border-radius: 17px;
	}
	.main-text-paragraph {
		padding-top: 20px;
	}
	.course-block {
		font-size: 32px;
		line-height: 32px;
	}
	.additional-text-block {
		font-size: 12px;
		line-height: 18px;
		padding: 19px 50px 0 29px;
	}
	.name-block {
		padding: 0 0 24px 4px;
	}
	.name {
		font-size: 17px;
		line-height: 17px;
	}
	.facebook-icon {
		width: 19px;
		height: 18px;
	}
	.girl {
		width: 110px;
		height: 98px;
	}
	.picture-block {
		padding: 2px 14px 13px 17px;
	}
}
@media screen and (min-width: 320px) and (max-width: 991px) /*smartphone*/ {
	.reviews-wrapper-block {
		max-width: 308px;
		margin-left: auto;
		padding-bottom: 60px;
	}
	.additional-wrapper-block {
		max-width: 466px;
		padding-bottom: 0;
		margin-top: 29px;
		border-radius: 17px;
	}
	.course-block {
		font-size: 26px;
		line-height: 26px;
	}
	.additional-text-block {
		font-size: 10px;
		line-height: 15px;
		padding: 18px 21px 0 22px;
	}
	.main-text-paragraph {
		width: 280px;
		padding-top: 20px;
	}
	.name {
		font-size: 14px;
		line-height: 14px;
	}
	.facebook-icon {
		width: 17px;
		height: 18px;
	}
	.girl {
		width: 98px;
		height: 86px;
	}
	.name-block {
		padding: 0 0 27px 4px;
	}
	.picture-block {
		padding: 1px 1px 12px 11px;
	}
}

@media (max-width: 671px) and (min-width: 376px) {
	.start-date {
		flex-direction: column;
	}
}
.date-wrapper {
	max-width: 1221px;
	margin: auto;
	padding: 180px 15px;
  }
  .start-date {
	background-color: #9dc9c8;
	width: 100%;
	position: relative;
  }
  .date {
	font-size: 55px;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	padding-top: 10px;
	/* margin-bottom: 54px; */
  }
  .start-date h2 {
	font-family: "Roboto Slab", serif;
	font-size: 55px;
  }
  .price {
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
  }
  .cost {
	font-size: 80px;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	margin-top: 0;
	margin-bottom: 42px;
  }
  .level-block-wrapper {
	display: flex;
	max-width: 658px;
  }
  .level-block {
	max-width: 664px;
	/* max-height: 125px; */
	/* margin-right: 20px; */
	display: flex;
	justify-content: space-between;
  }
  .level-block-item {
	max-width: 294px;
	font-size: 18px;
  }
  /* .start-date .info {
	font-size: 18px;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	display: flex;
  } */
  .start-date h3 {
	font-size: 25px;
	font-weight: 400;
	/* color: #000000; */
	/* width: 294px; */
	/* height: 32px; */
	margin-bottom: 10px;
  }
  /* .info p {
	font-size: 18px;
	font-weight: 400;
  } */
  /* .level {
	max-width: 294px;
	height: 70px;
	display: inline-block;
  } */
  
  .footer-wrapper {
	max-width: 1221px;
	margin: auto;
	padding: 40px 15px;
  }
  .footer-wrapper-flex {
	display: flex;
	justify-content: space-between;
	/* width: 100%; */
	margin-bottom: 140px;
	max-width: 1151px;
  }
  .footer {
	background-color: black;
	width: 100%;
  }
  .contacts {
	max-width: 316px;
	min-width: 148,18px;
  }
  .phone span {
	font-size: 25px;
	line-height: 25px;
	color: #ffffff;
  }
  .contacts-icon {
	max-height: 18px;
	margin-right: 20px;
  }
  .contacts-item {
	font-size: 25px;
	color: white;
	display: flex;
	margin: 10px;
	align-items: baseline;
	/* margin: 14px 180px 0px -51px; */
  }
  .synchro {
	max-width: 115px;
  }
  .social {
	display: flex;
	width: 100%;
	flex-direction: column;
	position: relative;
  }
  .social-icons {
	padding: 28px 0 0 0;
  }
  .instagram {
	max-width: 33px;
	max-height: 33px;
  }
  .facebook {
	max-width: 32px;
	max-height: 32px;
	margin-left: 13px;
  }
  .vk {
	max-width: 35px;
	/* height: 35px; */
	margin-left: 18px;
  }
  .whatsapp {
	max-width: 34px;
	max-height: 34px;
	margin-left: 22px;
  }
  .footer-syncing-text {
	margin-top: 100px;
	color: white;
	max-width: 230px;
	font-size: 18px;
  }
  /* Start date media */
  @media only screen and (max-width: 1279px) and (min-width: 992px) {
	.date-wrapper {
	  max-width: 689px;
	  padding: 107px 10px;
	}
  
	.start-date h2 {
	  font-size: 32px;
	}
	.price {
	  font-size: 14px;
	}
	.cost {
	  font-size: 46px;
	}
	.level-block-item {
	  flex-direction: column;
	  font-size: 10px;
	  max-width: 170px;
	}
	.level-block-item h3 {
	  flex-direction: column;
	  font-size: 14px;
	}
	.level-block {
	  max-width: 381px;
	}
  }
  @media only screen and (max-width: 991px) and (min-width: 320px) {
	.date-wrapper {
	  max-width: 309px;
	  padding: 70px 10px;
	}
  
	.start-date h2 {
	  font-size: 26px;
	  max-width: 224px;
	}
	.price {
	  font-size: 12px;
	}
	.cost {
	  font-size: 37px;
	}
	.level-block-item {
	  font-size: 10px;
	  max-width: 170px;
	}
	.level-block-item h3 {
	  font-size: 12px;
	}
  }
   /* Footer-Media */
  /* десктопная и планшетная версии */
  @media only screen and (max-width: 1279px) and (min-width: 992px){
	.start-date {
	  flex-direction: row;
	}
	.footer {
	  flex-direction: column;
	}
	.level-block-item{
		flex-direction: column;
		font-size: 10px;
			}
			.level-block-item h3{
				flex-direction: column;
				font-size: 14px;
					}
					.synchro {
						max-width: 66px;
					  }
					.footer-wrapper {
						max-width: 660px;
					  }
					.footer-wrapper-flex{
						font-size: 14px;
							}
							.contacts{
								flex-direction: column;
								
							}
							.contacts-item{
								font-size: 14px;
							}
							.social-icons img {
								max-width: 18px;
							  }
										.footer-syncing-text{
											flex-direction: column;
											font-size: 10px;
										}
										}
/* мобильная версия */
@media only screen and (max-width: 991px) and (min-width: 320px){
	.start-date {
	  flex-direction: column;
	}
	.footer {
		flex-direction: column;
	  }
	  .level-block-wrapper{
		flex-direction: column;
		font-size: 10px;
			}
			.footer-wrapper {
				max-width: 309px;  
			}
			.synchro {
				max-width: 53px;
			}
			.footer-wrapper-flex{
				flex-direction: column;
				font-size: 14px;
					}
					.contacts-item{
						flex-direction: row;
						font-size: 12px;
							}
							.contacts-icon{
								max-width: 13px;
									}
									.social-icons{
										flex-direction: row;
										margin-bottom: 40px;
											}
											.social-icons img {
												max-width: 16px;
											  }
											.footer-syncing-text{
												margin-top: 48px;
												flex-direction: row;
												font-size: 10px;
													}
												}